*.sdf
*.opensdf
*.suo
Instalog/x64
x64
LogCommon/CompiledProtocolBuffers
LogCommon/x64
LogTests/x64
Release
Debug
Build/
ipch/*
*.user
*.aps
Drop
*.synctex.gz
*.aux
*.out
Docs/Instalog Specification/InstalogSpecification.pdf
*.toc
*.log
Instalog/Instalog.txt
Docs/Instalog Specification/InstalogSpecification.synctex.gz(busy)
