* text=auto
*.cpp text
*.h text
*.hpp text
.* text
*.txt text
*.vcxproj text
*.vcxproj.filters text
*.rc text=crlf
*.manifest text
*.masm text
*.obj binary
*.vsd binary
*.pptx binary
*.tex text
*.bat text=crlf

